<div class="container fit-header">
  <h1><%=t('.title')%></h1>
  <h5><%=t('.sub')%> </h5>
  <div class="farmer_orders">
  </div>
  <div class="farmer_products">
    <h3><%=t('.farmer_products')%></h3>
    <%= button_to t('.add'), products_path, method: "get", class: 'btn btn-primary' %>
  </div>
  <div class="farmer_stalls">
    <h3><%=t('.farmer_stalls')%></h3>
    <%= button_to t('.add'), markets_path, method: "get", class: 'btn btn-primary' %>
    <div class="col-sm-6 col-md-3">
      <div class="stalls">
        <span><i class="fa fa-university"></i> </span>
        <span><i class="fa fa-university"> </i></span>
        <span><i class="fa fa-university"> </i></span>
      </div>
    </div>
  </div>
</div>

