<div class="container fit-header">
  <h1><%=t('.title')%></h1>
  <h5><%=t('.sub')%> </h5>
  <div class="farmer_orders">
  </div>
  <div class="farmer_products">
    <h3><%=t('.farmer_products')%></h3>
    <button class="btn btn-primary" type="button"><%=t('.add')%></button>
  </div>
  <div class="farmer_stalls">
    <h3><%=t('.farmer_stalls')%></h3>
    <button class="btn btn-primary" type="button"><%=t('.add')%></button>
  </div>
</div>

