<div class="container fit-header" style="min-height: 100vh;">
  <div class="col-md-3 col-xs-12">
    <%= render '/overview/sidebar' %>
  </div>

  <div class="col-md-9 col-xs-12">
    <div class="seller_orders">

      <h3><%=t('.seller_orders')%></h3>
      <!-- Puxar as ordens de cada barraca que este feirante trabalha -->
      <div class="order-card">
        <% current_seller.stalls.each do |stall| %>
          <% stall.orders.each do |order| %>
              <% unless order.user == nil %>
                  <h2>Lista de <% order.user.first_name  %></h2>
                <% end %>
              <% order.order_items.each do |item| %>
                <p><%= item.quantity %> x <%= item.product.name %> (total price: <%= item.total_price %>)</p>
              <% end %>
              <h3>TOTAL: <%= order.total %></h3>
              <h3> <%= stall.market.name %> </h3>
              <h4>Horário de entrega entre 9 e 11h na TERÇA</h4>
              <br><br>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
