<div class="container fit-header">
  <div class="col-md-3 col-xs-12">
    <%= render '/overview/sidebar' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="seller_products">
      <h3><%=t('.seller_products')%></h3>
      <br><br>
      <table id="my_products">
        <tr>
          <th><%=t('.name')%></th>
          <th><%=t('.category')%></th>
          <th><%=t('.suggested_price')%></th>
          <th><%= t('.choosed_price')%></th>
          <th><%= t('.change_price')%></th>
        </tr>
      <% @my_products.each do |p| %>
        <tr>
          <td><%= p.first.name %></td>
          <td><%= p.first.category %></td>
          <td><%= number_to_currency(p.first.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
          <td><%= number_to_currency(p.last.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
          <td><%= simple_form_for @edit_price,
              :url => url_for(:action => 'edit_price'),
              :method => 'get' do |f| %>
              <!-- Este input é necessário para que este dado seja enviado no 'params'-->
              <%= f.input :id, input_html: {value: p.last.id},:as => :hidden %>
              <%= f.input :price, label:false, :input_html => {:maxlength =>2,:style=> 'width: 80px'} %></td>
          <td><%= f.submit t('.change'), class: "btn btn-primary" %></td>
          <% end %>
          <td>
            <%= link_to destroy_product_path(p, seller_product: {product_id: p.last.id }), method: :delete  do %>
            <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </table>
      <br><br>
      <p><h3><%= t('.add_info')%></h3></p>
      <br>
      <%= simple_form_for @add_product,
          :url => url_for(:action => 'create_product'),
          :method => 'post'  do |f| %>
        <%= f.input :product_id, collection: @products, label: t('.products') %>
        <%= f.button :submit, t('.add'), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

 <script>
    (function($){
      $(function(){
        $('select').selectToAutocomplete();
        $('form').submit(function(){
          return true;
          }
        );
      });
    })(jQuery);
  </script>
