<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="logo">
          <%= link_to root_path, class: "logo-link" do %>
            <%= image_tag "logo.png", class: "logo-link-img" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <nav class="top-menu">
          <ul>
              <li>
                <%= link_to cart_path, class: "btn btn-link" do %>
                  <i class="fa fa-shopping-basket "></i> <%= "#{current_order.order_items.size} Produtos na cesta ( #{number_to_currency current_order.subtotal} )" %>
                <% end %>
              </li>
            <% if seller_signed_in? %>
              <li>
                <%= link_to overview_path do %>
                  <i class="fa fa-university"></i> <%= t(".overview")%>
                <% end %>
              </li>
              <li>
                <%= link_to seller_path(current_seller) do %>
                  <i class="fa fa-user"></i> <%= t(".profile")%>
                <% end %>
              </li>
              <li>
                <%= link_to(t(".sign_out"), destroy_seller_session_path, :method => :delete) %>
              </li>
            <% elsif user_signed_in? %>
              <li>
                <%= link_to(t(".sign_out"), destroy_user_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li>
                <%= link_to(t(".im_a_seller"), new_seller_session_path)  %>
              </li>
              <li>
                <%= link_to(t(".sign_in"), new_user_session_path)  %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
