<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="logo">
          <%= link_to root_path, class: "logo-link" do %>
            <%= image_tag "logo.png", class: "logo-link-img" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <nav class="top-menu">
          <ul>
            <li>
              <%= link_to "Overview", overview_path %>
            </li>
            <li>
              <%= link_to "Sou feirante", farmer_session_path %>
            </li>
            <li>
              <%= link_to "Entrar", user_session_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
