<div class="navbar-pegalev">
  <!-- Logo -->
  <div class="logo">
    <%= link_to root_path, class: "logo-link" do %>
      <%= image_tag "logo.png", class: "logo-link-img" %>
    <% end %>
  </div>
  <div class="navbar-pegalev-menu">
    <div class="dropdown">
      <% if seller_signed_in? %>
        <% avatar_url = "default_avatar.png" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to t(".overview"), overview_path %>
          </li>
          <li>
            <%= link_to t('.orders'), seller_orders_path do %>
              <i class="fa fa-cubes" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "/seller_products" do %>
              <i class="fa fa-leaf" aria-hidden="true"></i><%= t('.seller_products')%>
            <% end %>
          </li>
          <li>
            <%= link_to "/seller_stalls" do %>
              <i class="fa fa-truck" aria-hidden="true"></i><%=t('.seller_stalls')%>
            <% end %>
          </li>
          <li>
            <%= link_to seller_path(current_seller) do %>
              <i class="fa fa-user"></i> <%=t('.profile')%>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_seller_session_path, method: :delete do %>
               <i class="fa fa-sign-out"></i> <%= t(".sign_out") %>
            <% end %>
          </li>
        </ul>
      <% elsif user_signed_in? %>
        <% avatar_url = "default_avatar.png" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to t('.orders'), users_orders_path do %>
              <i class="fa fa-cutlery" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user"></i> <%=t('.profile')%>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i> <%= t(".sign_out") %>
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul>
          <li>
            <%= link_to(t(".im_a_seller"), new_seller_session_path)  %>
          </li>
          <li>
            <%= link_to(t(".sign_in"), new_user_session_path) %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
