<div class="banner">
  <div class="banner-content">
    <div class="banner-content-form">
      <h3><%=t('.main_msg')%> </h3>
      <form action=<%=search_path%> method="get" name="search" class="fancy-form">
        <fieldset>
          <legend>Address</legend>
          <p class="instructions">Start by entering your zip code.</p>
          <div>
            <div>
              <label for="street">Street</label>
              <input type="text" name="street_user" id="street_user">
            </div>
          </div>
          <div>
            <div>
              <label for="complement">Complement</label>
              <input type="text" name="complement_user" id="complment_user">
            </div>
          </div>
          <div>
            <div class="city-wrap">
              <label for="city">City</label>
              <input type="text" name="city_user" id="city_user" style="width:220px;">
            </div>
            <div class="zip-wrap">
              <label for="zip">Zip</label>
              <!--<input type="text" pattern="[0-9]*" maxlength="8" required name="zip_user" id="zip_user" style="width:100px;">-->
               <input type="text" required name="zip_user" id="zip_user" style="width:100px;" class="cep-mask">
            </div>
            <div class="state-wrap">
              <label for="state">State</label>
              <input type="text" name="state_user" id="state_user" style="width:50px;">
              <label for="number">Number</label>
              <input type="text" name="number_user" id="number_user" style="width:50px;">
            </div>
          </div>
          <div class="submit-wrap">
            <button class="btn btn-primary" type="submit"><%=t('.search')%><</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="how-it-works-content">
  <h2><%=t('.how-it-works')%> </h2>
  <div class="row">
    <div class="col-sm-4">
      <h3><i class="fa fa-map-marker"></i> <%=t('.step_1')%></h3>
      <p><%=t('.step_1_msg')%></p>
    </div>
    <div class="col-sm-4">
      <h3><i class="fa fa-clock-o"></i> <%=t('.step_2')%></h3>
      <p><%=t('.step_2_msg')%></p>
    </div>
    <div class="col-sm-4">
      <h3><i class="fa fa-home"></i> <%=t('.step_3')%></h3>
      <p><%=t('.step_3_msg')%></p>
    </div>
  </div>
</div>

