<div class="banner">
  <div class="banner-content">
    <div class="banner-content-form">
      <form id="form_search_by_cep" action="/search">
        <div class="input-group">
            <input type="text" name="search_by_cep" class="cep-mask form-control" placeholder="Digite seu CEP">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Buscar</button>
            </span>
        </div>
      </form>
      <%= link_to "Não sabe o cep? Digite seu endereço", id: "btn_search_by_address", class: "banner-content-small text-left" %>
    </div>
    <div>
      <form id="form_search_by_address" action="/search" style="display: none;">
        <div class="input-group">
          <input type="text" name="search_by_address" class="form-control" placeholder="Digite seu endereço">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="how-it-works-content">
  <h2><%=t('.how-it-works')%> </h2>
  <div class="row">
    <div class="col-sm-4">
      <h3><%=t('.step_1')%></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
    <div class="col-sm-4">
      <h3><%=t('.step_2')%></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
    <div class="col-sm-4">
      <h3><%=t('.step_3')%></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ad impedit quasi doloremque omnis delectus necessitatibus dolore suscipit minus aliquid fugiat, fugit, modi eaque possimus laboriosam amet sed aliquam. Enim.</p>
    </div>
  </div>
</div>
