
<div class="container fit-header">
  <span style="color:blue;"><%= flash[:alert] %></span>

  <p><%= @market.name %></p>

  <% if @market.sellers == [] %>

    <p>Ainda não há feirantes cadastrados nesta feira!</p>

  <% else %>

    <p>Produtos disponíveis</p>

  <!-- Exibir as feiras -->
    <% @sellers_by_product.each do |section| %>
      <% product = section.first %>
      <% sellers = section.last %>
      <% list = [] %>
      <% sellers.each do |seller| %>
       <% list << seller.id %>
      <% end %>

      <%= link_to(market_product_path(market_id: @market.id , id: product.id, sellers: list)) do %>
          <%= cl_image_tag product.photo, width: 300, height: 200 %>
          <br>
          <%= product.name %>
          <br>
          <!-- adiciona o produto no carrinho -->
      <% end %>
      <!-- será adicionado no carrinho de um 'random' de sellers daquela feira que possui aquele produto disponível -->
      <%= simple_form_for @order_item do |f| %>
        <%= f.input :stall_id, as: :hidden, :input_html => {:value => sellers.sample.stalls.where(market_id: @market.id).first.id} %>
        <%= f.input :product_id, as: :hidden, :input_html => {:value => product.id} %>
         <%= f.input :quantity, as: :hidden, :input_html => {:value => "1" }%>
        <%= f.submit t('.add_cart') %>
      <% end %>

    <% end %>
  <% end %>

</div>
