<div class="container fit-header">
  <%= @market.name %>

  <% if @market.sellers == [] %>

    <p>Ainda não há feirantes cadastrados nesta feira!</p>

  <% else %>

    <p>Produtos disponíveis</p>

  <!-- Exibir as feiras -->
    <% @sellers_by_product.each do |section| %>
      <% product = section.first %>
      <% sellers = section.last %>
      <% list = [] %>
      <% sellers.each do |seller| %>
       <% list << seller.id %>
      <% end %>

      <%= link_to(market_product_path(market_id: @market.id , id: product.id, sellers: list)) do %>
          <%= cl_image_tag product.photo, width: 300, height: 200 %>
          <br>
          <%= product.name %>
          <br>
          <!-- adiciona o produto no carrinho -->
      <% end %>
      <%= form_for @order_item do |f| %>
        <%= f.hidden_field :stall_id, value: sellers.sample.stalls.where(market_id: @market.id).first.id %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, value: "1" %>
        <%= f.submit "Add to cart" %>
      <% end %>

    <% end %>
  <% end %>

</div>
