<div class="banner inside"></div>
<div class="container">
  <h1><%= @market.name %></h1>
  <p><%= @market.address %></p>
  <p><%= @market.inscription %></p>
  <p><%= @market.weekday %></p>
  <%= render 'links' %>
</div>
