<div class="top-banner">
  <div class="container fit-header">
    <h1> <%=t('.title')%> </h1>
    <h3> <%=t('.sub')%> </h3>
  </div>
</div>
<div class="wrapper-products">
  <div class="container">
    <% @products.each do |product| %>
      <div class="col-md-4 col-sm-12">
        <% if product.photo? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path product.photo %>);">
        <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://placehold.it/350x175);">
        <% end %>
          <div class="card-name">
            <h2> <%= product.name %> </h2>
          </div>
          <div class="card-price">
            <h3><%= number_to_currency(product.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %> </h3>
          </div>
          <%=link_to raw('<span>' + product.name + '</span>'), product_path(product), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
