<div class="container fit-header">
  <div class= "row">
    <div class="col-md-9">
      <%= render 'product_photo' %>
    </div>
    <div class="product-details">
      <div class="col-md-3 col-sm-3">
        <h2><%= @product.name %></h2>
        <h3><%= number_to_currency(@product.price, unit: "R$", separator: ",", delimiter: "") %></h3>
        <p><%=t('.price_set_by')%> KG</p>
        <button type="button" class="btn btn-sucess"><%=t('.cta')%></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tag-list">
        <span><%= @product.category=%></span>
        <span>Dura até <%= @product.best_before == 1 ? " #{@product.best_before} dia" : " #{@product.best_before} dias" %> na geladeira</span>
      </div>
    </div>
  </div>
  <h4><%=t('.buy_more')%></h4>
  <div class= "row">
    <div class="col-md-4">
      <img class="img-responsive" src="http://placehold.it/300x150">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="http://placehold.it/300x150">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="http://placehold.it/300x150">
    </div>
  </div>
</div>
